.app-content-loading {
    width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: fixed;
      display: block;
      background-color: rgba(132, 132, 132, 0.7);
      z-index: 1250;
      text-align: center;
  }

  .loading-spinner {
    position: absolute;
    /* margin-left: 50%; */
    transform: translateX(-48%);
    margin-top: 18%;
  }