.DI_Organisation_Main{
  height: 104px;
  color: white;
  position: relative;
  background: linear-gradient(90deg, #0C45E4 0%, #2FA7FE 100%);
  margin-top: 30.5px;
}


.DI_Organisation_Title {
  height: 70px;
  width: 282px;
  color: #FFFFFF;
  font-size: 29px;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 0.08px;
  line-height: 37px;
}

.DI_Edit_Organisation{
  height: 36px;
  min-width: 40px;
  cursor: pointer;
  padding: 7px;
  color: var(--di-primary);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04px;
  line-height: 19px;
  background-color: white;
  text-align: center;
  float: right;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.DI_Org_voting_main {
  height: 61px;
  margin-top: 184.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.06px;
  line-height: 27px;
  text-align: center;
}

.DI_Organisation_MainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26.27px;
  margin-right: 20.37px;
}

.DI_Organisation_SubHeader{
  justify-content: initial;
  margin: auto;
}

.DI_Organisation_SubHeader_Text{
    color: white;
    margin-right: 28.73px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-top: 5px;
    height: 34px;
    min-width:  100px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.04px;
    line-height: 19px;
    display: flex;
    text-align: center;
}

.DI_Organisation_SubHeader_Text_Active{
  background-color: white;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  color:black
}

.DI_Table{
  padding-top: 24.5px;
  padding-left: 26.27px;
  padding-right: 20.37px;
  background-color: white;
}